{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- jQuery -->
    {% include "lib-jquery.html" %}
    <!--Custom css -->
    <link rel="stylesheet" type="text/css" href={% static 'style.css' %}>
    <link rel="shortcut icon" href={% static 'favicon.ico' %}>

    {% include 'ui-template-stylesheets.html' %}

    <title>Fakebook - {% block title %}{% endblock title %}</title>

    {% block extra_head %}
    {% endblock %}

  </head>
  <body>
    {% include 'main/navbar.html' %}
    <div class="ui container">
      {% block content %}
      {% endblock content %}
    </div>

    {% block scripts %}
    {% endblock scripts %}

   <!--Custom js -->
    <script type="text/javascript" src={% static 'main.js' %}></script>
    <script type="text/javascript" src={% static 'chat/chat-manager.js' %}></script>
    <script type="text/javascript" src={% static 'analytics/analytics.js' %}></script>
  </body>
</html>