{% extends "admin/base_site.html" %}

{% load i18n static %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}


<p>
    <a href="{% url 'admin:index' %}">Go back to home</a>
</p>


<!-- Download the excel file -->

<form action="{% url 'download-xlsx' %}" method="post">

    {% csrf_token %}

    <p>Select the tables you want to download:</p>

    <table>
        <tr>
            <th>Table</th>
            <th>Columns</th>
        </tr>
        <tr>
            <td><label> <input type="checkbox" name="user"> user</label></td>
            <td>user_id, username, first_name, last_name, avatar, bio, date_joined, last_login</td>
        </tr>
        <tr>
            <td><label> <input type="checkbox" name="likes"> likes</label></td>
            <td>post_id, user_id, value, updated, created</td>
        </tr>
        <tr>
            <td><label><input type="checkbox" name="dislikes"> dislikes</label></td>
            <td>post_id, user_id, value, updated, created</td>
        </tr>
        <tr>
            <td><label><input type="checkbox" name="sessions"> sessions</label></td>
            <td>username, user_id, first_seen, last_seen</td>
        </tr>
        <tr>
            <td><label><input type="checkbox" name="post-views"> post-views</label></td>
            <td>username, profile_id, post_id, total_time_ms</td>
        </tr>
        <tr>
            <td><label> <input type="checkbox" name="reports"> reports</label></td>
            <td>post_id, user_id, value, updated, created</td>
        </tr>
        <tr>
            <td><label> <input type="checkbox" name="chats"> chats </label></td>
            <td>source_user, target_user, content, date</td>
        </tr>
        <tr>
            <td><label> <input type="checkbox" name="advertisements"> advertisements</label></td>
            <td>advertisement_id, text, url, num_clicked, image, profile_id</td>
        </tr>
        <tr>
            <td><label> <input type="checkbox" name="posts"> posts</label></td>
            <td>post_id, author_id, content, created, image, comments, likes_received, dislikes_received, reports_received</td>
        </tr>
        <tr>
            <td><label> <input type="checkbox" name="comments"> comments</label></td>
            <td>comment_id, post_id, user_id, content, created, updated</td>
        </tr>
        <tr>
            <td><label> <input type="checkbox" name="friends"> friends</label></td>
            <td>sender_id, receiver_id, status, updated, created</td>
        </tr>
      </table>

    <p><input type="submit" value="Download selected tables as .xlsx"></p>

</form>

<hr>
<hr>
<hr>

<!-- Download the database as a file -->

<form action="{% url 'download-database' %}" method="post">

    {% csrf_token %}

    <p>Click here to download the entire database:</p>

    <p><input type="submit" value="Download database as .sqlite3 file"></p>

</form>

<hr>
<hr>
<hr>

<!-- Download the pictures  -->

<form action="{% url 'download-pictures' %}" method="post">

    {% csrf_token %}

    <p>Select the pictures you want to download:</p>
    
    <p><label> <input type="checkbox" name="posts"> posts</label></p>
    <p><label> <input type="checkbox" name="profile_pictures"> profile pictures</label></p>
    <p><label> <input type="checkbox" name="advertisements"> advertisements</label></p>

    <p><input type="submit" value="Download selected pictures as a .zip"></p>

</form>



  
{% endblock %}

